:root {
  --black: #212121;
  --secondary-black: #2c2721;
  --orange: #fe9201;
  --yellow: #ffdb31;
  --white: #fff;
  --secondary-white: #fffae0;
  --gray: #c4c4c4;
  --secondary-gray: #dadada;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
