:root {
  --black: #212121;
  --secondary-black: #2c2721;
  --orange: #fe9201;
  --yellow: #ffdb31;
  --white: #fff;
  --secondary-white: #fffae0;
  --gray: #c4c4c4;
  --secondary-gray: #dadada;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

main {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: justify;
  letter-spacing: 0.05rem;
}

.hero-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  height: 66.25vw;
  max-height: 954px;
}

.hero-image {
  position: absolute;
  z-index: -1;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.hero-content {
  text-align: center;
}

.hero-content p {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.6rem;
  margin: 1.6rem 0;
  text-align: center;
}

.hero-content button {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.6rem;
  text-align: center;
  padding: 0.8rem 2rem;
  background: var(--yellow);
  filter: drop-shadow(0px 4px 4px var(--orange));
  border: none;
}
.hero-content button:hover {
  background: var(--orange);
  color: var(--white);
}

.container {
  margin: 0 16px;
}

.title {
  font-size: 3.4rem;
  margin-top: 3.2rem;
  margin-bottom: 1.2rem;
  line-height: 3.6rem;
  text-align: left;
}

.title strong {
  color: var(--orange);
}

.about-emojis {
  font-size: 3.4rem;
  text-align: center;
  margin-top: 1.2rem;
}

.why-image {
  margin-top: 2.4rem;
  width: 100%;
}
